<!DOCTYPE html>
<html>
  <head>
    <title>Kuman Co. Inventory</title>
    <link rel="stylesheet" type="text/css" href="style.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="app.js"></script>
  </head>

  <body ng-app="inventoryApp">
    <div class="banner">Kuman Co. Inventory</div>

    <center class="container" ng-controller="MainCtrl">

      <div class="button-group">
        <button class="button left"
                ng-class="{ 'active': mode === 'single' }"
                ng-click="changeSetting('single')">
                Single
        </button>
        <button class="button right"
                ng-class="{ 'active': mode === 'multi' }"
                ng-click="changeSetting('multi')">
                Multi
        </button>
      </div>

      <div class="line-item" ng-repeat="item in items">
        <span class="icon-circle">{{ item.text }}</span>
        <input type="number" ng-model="item.value" ng-change="calcCheck($index)" />
        <span> x {{ markup * 100 }}% = </span>
        <span class="markup" ng-class="{ 'special': item.markup > 1000 }">{{ item.markup | currency }}</span>
      </div>

      <button class="button"
              ng-if="mode === 'multi'"
              ng-click="calculateAll()">
              Calculate All
      </button>

    </center> <!-- End MainCtrl -->

  </body>
</html>
