body {
  background-color: #fafcfd;
  font-family: "Roboto", verdana, arial, helvetica, sans-serif;
  margin: 0px;
}

input,
.markup {
  border: 1px solid #7f9db9;
  border-radius: 3px;
  display: inline-block;
  font-size: 1em;
  padding: 8px;
  text-align: right;
  vertical-align: middle;
  width: 200px;
}

.markup {
  height: 1em;
}

.markup.special {
  color: red;
  font-weight: bold;
}

.banner {
  background-color: #076FB6;
  color: #fafcfd;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 20px;
  padding: 40px;
}

.button-group .button {
  background-color: #e6f0f7;
  color: gray;
}

.button {
  background-color: rgb(26,188,156);
  border-radius: 3px;
  border-style: none;
  box-shadow: inset 0px -2px 0px rgba(119,119,119,0.65);
  color: #fafcfd;
  font-size: 1.1em;
  margin: 20px auto;
  text-align: center;
  vertical-align: middle;
  padding: 8px 124px;
}

.button:hover {
  cursor: pointer;
}

.button.active {
  background-color: rgb(26,188,156);
  color: #fafcfd;
  cursor: default;
}

.button.left {
  border-radius: 3px 0px 0px 3px;
  margin-right: 0px;
}

.button.right {
  border-radius: 0px 3px 3px 0px;
  margin-left: -5px;
}

.container {
  margin: 40px;
}

.line-item {
  margin: 16px;
}

.icon-circle {
  background-color: #076FB6;
  border-radius: 100px;
  color: #fafcfd;
  padding: 4px 8px;
  text-align: center;
  vertical-align: middle;
}
